@model UsuarioModel

@{
    ViewData["Title"] = "Iniciar Sesion";
    Layout = "~/Views/Shared/_LayoutInitial.cshtml";
}

<main class="">
    <section class="regLog col">
        <h1 class="regLog-Title">Iniciar Sesión</h1>
        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-danger text-center">@ViewBag.Mensaje</div>
        }
        @using (Html.BeginForm("Iniciarsesion", "Home"))
        {
            <div class="input-group">
                @Html.TextBoxFor(m => m.Email, new
                    {
                        @class = "form-control",
                        @id = "Email",
                        type = "email",
                        @placeholder = "Correo electrónico",
                        @required = "required"
                    }
                )
            </div>
            <div class="input-group">
                @Html.TextBoxFor(m => m.Contrasena, new
                    {
                        @class = "form-control",
                        @id = "Contrasena",
                        type = "password",
                        @placeholder = "Contraseña",
                        @aria_describedby = "password",
                        @required = "required"
                    }
                )
            </div>
            <div class="regLog-Submit mt-3">
                <input type="submit" class="btn btn-block" value="Ingresar">
            </div>
        }
        <p class="mt-3 mb-2 regLog-Options">
            <a href="@Url.Action("RecuperarContrasena","Autenticacion")">Olvidé mi contraseña</a>
        </p>
        <p class="regLog-Options">
            <a href="@Url.Action("Registrar","Autenticacion")" class="text-center">Crear una cuenta</a>
        </p>
    </section>
</main>
<script>
    const body = document.getElementById("bodyRegLog");
    body.classList.add("bodyLogIn")
</script>
