@model UsuarioModel

@{
    ViewData["Title"] = "Registro Admin";
    Layout = "~/Views/Shared/_LayoutInitial.cshtml";
}

<main class="">
    <section class="regLog col">
        <h1 class="regLog-Title">Registrarse</h1>

        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-danger text-center">@ViewBag.Mensaje</div>
        }

        @using (Html.BeginForm("Registrar", "Autenticacion"))
        {
            <div class="input-group">
                @Html.TextBoxFor(m => m.Identificacion, new
                    {
                        @class = "form-control",
                        @id = "Identificacion",
                        @placeholder = "Identificación",
                        @autofocus = "autofocus",
                        @required = "required"
                    }
                )
            </div>
            <div class="input-group">
                @Html.TextBoxFor(m => m.Nombre, new
                    {
                        @class = "form-control",
                        @id = "Nombre",
                        @placeholder = "Nombre completo",
                        @required = "required"
                    }
                )
            </div>
            <div class="input-group">
                @Html.TextBoxFor(m => m.Email, new
                    {
                        @class = "form-control",
                        @id = "Email",
                        type = "email",
                        @placeholder = "Correo electrónico",
                        @required = "required"
                    }
                )
            </div>
            <div class="input-group">
                @Html.TextBoxFor(m => m.Contrasena, new
                    {
                        @class = "form-control",
                        @id = "Contrasena",
                        type = "password",
                        @placeholder = "Contraseña",
                        @aria_describedby = "password",
                        @required = "required"
                    }
                )
            </div>
            <div class="regLog-Submit mt-3">
                <input type="submit" class="btn btn-block" value="Registrarse">
            </div>
        }

        <p class="mt-4 mb-1 regLog-Options">
            <a href="@Url.Action("Ingresar", "Autenticacion")">¿Ya tienes una cuenta? Ingresar</a>
        </p>
    </section>
</main>

<script>
    const body = document.getElementById("bodyRegLog");
    body.classList.add("bodyRegister")
</script>
